.hero__container{
    height: 39.5rem;
    width: 100%;
    background-color: #5A4E88;
    margin-top: 15rem;
    padding: 0rem 5rem;
    animation: moveInTop .5s ease-out .75s;
}

@media only screen and (max-width: 1024px) {
.hero__container{
  display: flex;
  flex-direction: column;
}

.hero__container{
  flex-direction: column;
  margin-top: 0rem;
  }

  .hero__layout{
    flex-direction: column;   
  }
  .projects__header{
    margin: 5rem;
  }

  .card__container{
    overflow: scroll;
    margin: 0rem;
    padding: 0rem !important;
    height: 70%;
  }
}

.hero__container--secondary{
    height: 39.5rem;
    width: 100%;
    background-color: #E35CA0;
    padding: 0rem 5rem ;
}

.range__container{
    display: flex;
}

.hero__layout{
    display: flex;
}

.hero__title{
    color: "#FFFFFF";
}

.inline__text{
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 1.5rem;
}

.medium__text{
    color: #FFFFFF;
    margin-top: 2rem;
    font-size: 14px;
line-height: 16px;
}
