
*,body {
    margin: 0;
    font-family: 'Muli', 'sans-serif';
  }
  
  a{
    text-decoration: none;
    box-shadow: none;
    color: inherit;
}

  html{
    font-size: 10px;
  }

  .footer__two{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 10rem;
  }