.main__container{
    height: 60rem;
    width: 100%;
    margin-top: 10rem;
    display: flex;
    justify-content: flex-start;
}

@media only screen and (max-width: 1024px) {
.main__container{
    display: block;
    width: 100vw;
}


.main__bg{
    flex-grow: 0 !important;
}


.main__profile{
    margin:5rem 0rem 2rem 0rem !important;
    display: block;
    position: relative !important;
    left:0% !important;
    padding: 1rem;
}


.bg__logo{
    margin: 0rem !important;
    flex-direction: column !important;
}

.text__container{
    display: block;
    padding: 1rem;
    text-align: center;
    position: relative !important;
    margin-right: 0rem !important;
    margin-top: 0rem !important;
}
.medium__bg{
    display: none;
}

.smaller__bg{
    display: none;
}


.side__img{
    display: none;   
    }
}





.main__bg{
    flex-grow: 1;
}

.smaller__bg{
    position: absolute;
    top: 20%;
    left: 50%;
}
.particles__content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

.medium__bg{
    position: absolute;
    top: 80%;
    left: 70%;
}

.bg__logo{
    margin: 5rem 0rem 5rem 8rem;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.main__content{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.main__profile{
    position: absolute;
    top: 25%;
    left: 15%;
    z-index: -1;
}
.profile__text{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    font-family: 'montserrat';
}

.profile__subtext{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.text__container{
    margin-top: 20rem;
    margin-right: 10rem;

}
.profile__img{
    z-index: 100 !important;
}
