.hero__imgContainer{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.09);
}

@media only screen and (max-width:480px) {
    .hero__imgContainer{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    }
}

.hero__image{
    object-fit: cover;
}

.hero__decription{
    margin-top: .5rem;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}